{{outlet}}

<h2>RLand: a data management system for small to mid size farms and gardens</h2>

<h3>Map out your land with polygons - circles, rectangles, or freeform shapes.</h3>
<p><img src="/assets/images/add_polygon.png" width="900"></p>

<hr />
<h3>Go to the Dashboard to see all upcoming tasks.</h3>
<p><img src="/assets/images/dashboard.png" width="900"></p>

<hr />
<h3>Add, edit, and delete tasks, harvests, and notes for your polygons.</h3>
<p><img src="/assets/images/polygon_info.png" width="900"></p>

