{{outlet}}
<h1>All of your tasks:</h1>
{{#each model as |task|}}
   <h3>{{ task.name }}</h3>
   <h4>Priority</h4>
   <p>{{ task.priority }}</p> 
   <h4>Description</h4>
   <p>{{ task.description }}</p>
{{/each}}
