{{outlet}}
{{#each model as |user|}}
   <h1>Welcome to your dashboard, {{ user.name }}!</h1>
   <label>({{user.name}} is not hardcoded exactly, just a temporary user that has been saved to embers store until authetication is fixed and we store the authenticated user in ember's store)</label>
{{/each}}

<div>
   <h2>Quick Links</h2>
   <div>
      {{#link-to 'new-polygon'}}Create a New Polygon{{/link-to}}
   </div>
   <div>
      {{#link-to 'polygon-list'}}Your Polygons{{/link-to}}
   </div>
   <div>
      {{#link-to 'map'}}Map{{/link-to}}
   </div>
</div>
