{{outlet}}
<div class="dashboard-container">
   <div class="dashboard-header">
      {{#each model.users as |user|}}
         {{#if user.name }}
            <h1>Welcome to your dashboard, {{ user.name }}!</h1>
         {{/if}}
      {{/each}}
   </div>
   <div class="dashboard-body">
      <div class="dashboard-tasks-container">
         <h3>Upcoming Tasks</h3>
         <div class="dashboard-tasks-list">
            {{#each model.tasks as |task|}}
               <div class='taskItem {{tasks task.priority}}'>
                  <h4>{{ task.name }}</h4>
                  {{#link-to 'task' task.id class="btn btn-outline-light"}}More Info{{/link-to}}
               </div>
             {{/each}}
          </div>
      </div>
      <div class="dashboard-links-container">
         <h3>Quick Links</h3>
         <div>
            {{#link-to 'all-tasks' class="quick-links-button"}}Your Tasks >{{/link-to}}
         </div>
         <div>
            {{#link-to 'polygon-list' class="quick-links-button"}}Your Polygons >{{/link-to}}
         </div>
         <div>
            {{#link-to 'map' class="quick-links-button"}}Map >{{/link-to}}
         </div>
      </div>
   </div>
</div>
