{{outlet}}

<div class="home-container">
   <div class="home-jumbotron">
      <h1 class="header-one-jumbo">RLand</h1>
      <h2 class="header-two-jumbo">A land management app for small to mid-sized farmers</h2>
   </div>
   <div class="info-area">
      <h2 class="header-one-info-area">What is RLand?</h2>
      <p>A Land Management App for Small Farmers and Gardeners</p>
      <p>Create and automate tasks associated with your garden, orchard, apiaries and chickens</p>
      <img class="info-images" src='https://d30y9cdsu7xlg0.cloudfront.net/png/81214-200.png' />
      <p>Track data for your land so you can identify trends over time</p>
      <img class="info-images" src='https://www.shareicon.net/data/2017/07/13/888375_chart_512x512.png' />
   </div>
   <h1>Footer coming soon...</h1>
</div>
