{{outlet}}

<div class="home-container">
   <div class="home-jumbotron">
      <h1 class="header-one-jumbo">RLand</h1>
      <h2 class="header-two-jumbo">Design a beautiful garden.</h2>
      <div class="homepage-button-container">
         {{ link-to "Learn more >" "about" class="homepage-button" }}
         {{ link-to "Sign-up for free >" "register" class="homepage-button" }}
      </div>
   </div>
   <div class="info-area">
      <div class="info-card">
         <h3>Plan out your garden, farm, or land.</h3>
         <p>Draw polygons representing your fruits, vegetables, animals, and water.</p>
      </div>
      <div class="info-card">
         <h3>Create tasks so nothing is neglected.</h3>
         <p>Assign tasks to specific crops or to your entire garden.</p>
      </div>
      <div class="info-card">
         <h3>Record harvests</h3>
         <p>Keep track of the harvests you get from each crop. Over time, you will be able to see which varieties of plants are most productive in your climate and soil.</p>
      </div>
   </div>
</div>
