{{outlet}}
<div class="form-page-container">
   <h1 class="form-title">Login</h1>
   <form id="login" class="form-container" {{action "login" on="submit"}}>
     {{#if loginFailed}}
        <div class="alert">Invalid username or password</div>
     {{/if}}
     <div>
        <label>Email</label><br>
        {{input value=email class="input-element" validate=True}}
     </div>
               
     <div>
       <label>Password</label><br>
       {{input value=password type="password" class="input-element"}}
     </div>

     <button type="submit" class="form-button">Log In</button>
     {{#link-to 'register'}}Sign Up{{/link-to}}
  </form>
</div>
