RLand map page
<div class="map-components">
  {{rland-map location="1809 S 6th St W, Missoula, MT 59801" polygonSelected=(action "polygonSelected")}}
  <div class="polygon-container">
    <div class="new-poly" style="">

    </div>
    <div class="poly-list">
      {{#each model as |polygon|}}
        <div class="row">
          {{#polygon-list item=polygon}}
            <div>
              {{#link-to "polygon-info" polygon.id}}More info{{/link-to}}
              {{md-btn text="Add Task"}}
            </div>
          <br>
            <div>
              {{#link-to "edit-polygon" polygon.id}}Edit{{/link-to}}
              {{md-btn action = "deletePolygon" actionArg=polygon text="Delete"}}
            </div>
          {{/polygon-list}}
        </div>
      {{/each}}
    </div>
  </div>
</div>
{{outlet}}
