{{outlet}}
<h1>This form lets you insert a new polygon</h1>

<form {{action "createPolygon" on="submit"}}>
   <label>Please enter a location of your polygon</label>
   <p>{{input value=location type="text"}}</p>
   <label>Please enter the name of the polygon</label>
   <p>{{input value=name type="text"}}</p>
   <button type="submit">Submit</button>
</form>

