{{outlet}}
<h1>Polygons in DB</h1>
<div class="col-md-4">
  {{#each model as |polygon|}}
    <div class="row">
      {{#polygon-list item=polygon}}
        <div>
           <div>
           		{{#link-to "polygon-info" polygon.id}}More info{{/link-to}}
           </div>
	   <div>
           		{{#link-to "new-task" polygon.id}}Add a Task{{/link-to}}
           </div>
           <div>
              {{#link-to "new-harvest" polygon.id}}Add a Harvest{{/link-to}}
           </div>
           <div>
              {{#link-to "new-note" polygon.id}}Add Note{{/link-to}}
           </div>
        </div>
        <div>
           <div>
           	  {{#link-to "edit-polygon" polygon.id}}Edit{{/link-to}}
  			  </div>
           <button {{action "deletePolygon" polygon}}>Delete</button>
        </div>
      {{/polygon-list}}
    </div>
  {{/each}}
</div>


