
<div class="panel panel-default polygon poly-border">
  <div class="panel-body poly-list-header">
    <p>{{item.name}}</p>
  </div>
  <div class="panel-footer poly-list-links-container">
    {{yield}}
  </div>
</div>
