<!DOCTYPE html>
<html>
<head>
  <title>Log in/ create user</title>
</head>
<body>

<h2>First page</h2>

{% block body %}
{% if error %}
<span style ="color: red">Error: {{ error }}</span><p>

{% end %}




  <form action = "/" method = "POST">
    Email: <input name ="email" type ="text"><br />
    name(if making a new user): <input name ="name" type ="text" ><br />
    Password: <input name="password" type="password"> <br />
    {% module xsrf_form_html() %}
    Click to login or create new user: <input type ="submit" name ="Create user">
  </form>
  {% end % }

{% end %}
<br />
<br />
<br />



</body>
</html>
