<!DOCTYPE html>
<html>
<head>
  <title>View stuff about user</title>
</head>
  <body>
    This is the other page.
    &nbsp
    WELCOME  {{ user }}
    <br />
    your email: {{ userEmail }}
    <br />
    your pw: {{ pw }}
    <br/>
    {% if polygon %}
    your last requested polygon: {{ polygon }}<br />
    {% end %}
    <input type ="button" value = "log out" onclick = 'document.cookie = "userEmail=; expires =Thu, 01 Jan 2000 00:00:00 GMT"; window.location.href = "/"'/>

    <br/>


    <br />
    <br />
    <h1>Create a polygon</h1>
    <form action = "/otherPage" method = "POST">
      ID: <input name ="ID" type ="text"><br />
      Location: <input name ="Location" type ="text" ><br />
      Name: <input name="Name" type="text"> <br />
      {% module xsrf_form_html() %}
      <input type ="submit" value="Create Polygon">
    </form>
    <hr />
    <br />
    <h2>Get Polygon</h2>
    <form action = "/getPoly" method = "GET">
      ID: <input name ="ID" type ="text" id = "id"><br />
      <input type = "button" value="Get Polygon" onclick ='window.location.href = "/polygons/" + document.getElementById("id").value' >
    <hr />
    <br />
    <h3>Delete Polygon</h2>
    <form action = "/deletePoly" method = "POST">
      ID: <input name ="ID" type ="text"><br />
      {% module xsrf_form_html() %}
      <input type ="submit" value="Delete Polygon">
    </form>
    </body>



</html>
