.nav-container {
   background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
   font-family: Raleway;
   font-size: 20px;
}
.nav-link {
   color: #333;
   text-decoration: none;
   padding-left: 30px;
   padding-right: 30px;
   -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 4s; /* Firefox < 16 */
        -ms-animation: fadein 4s; /* Internet Explorer */
         -o-animation: fadein 4s; /* Opera < 12.1 */
            animation: fadein 4s;
}
.extra-padding {
   margin-top: 0px;
   border: 1px solid red;
   padding-bottom: 0px;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
.nav-link:hover {
   text-decoration: none;
   color: #cecece;
   cursor: pointer;
}
.nav-link:visited {
  text-decoration: none;
  color: #333;
}
