.polyInfoContainer {
   width: 100%;
   background-color: rgb(254, 254, 254);
   position: absolute;
   top: 45px;
   left: 0px;
   z-index: -2;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.polyInfoHeader {
   display: flex;
   justify-content: space-around;
   width: 100%;
   font-family: Raleway;
   padding: 0px 10px 40px 10px;
}
.polyInfoLinks {
   width: 45%;
   background-color: white;
   padding: 2%;
   padding-bottom: 30px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.polyInfoNotes {
   width: 45%;
   background-color: white;
   padding: 2%;
   padding-bottom: 30px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.polyInfoNotes h2 {
   padding-bottom: 20px;
}
.polyInfoNotesList {
   max-height: 250px;
   overflow-y: scroll;
}
.polyInfoTitle {
   width: 100%;
   padding: 40px 10px 40px 10px;
}
.polyInfoTitle h1 {
   padding-bottom: 0px;
   margin-bottom: 0px;
}
.polyInfoTitle label {
   padding-top: 0;
   padding-left: 10px;
   font-size: 10px;
}
.polyInfoTaskContainer {
   width: 95%;
   background-color: white;
   padding: 2%;
   padding-bottom: 30px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.noTasksContainer {
   padding-left: 5%;
   padding-top: 2%;
}
#polygonHarvestContainer {
   margin-top: 50px;
   margin-bottom: 100px;
}




